.spad {
    padding-top: 2rem;
    /* border: 2px solid red; */
}

.shop__sidebar__search {
    margin-bottom: 45px;
}

.shop__sidebar__search form {
    position: relative;
}

.shop__sidebar__search form input {
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    height: 42px;
}

.shop__sidebar__search form button {
    color: #b7b7b7;
    font-size: 15px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    padding: 0 15px;
    top: 0;
    height: 100%;
}

/* Product options */

.shop__product__option {
    margin-bottom: 45px;
}

.shop__product__option :after {
    border-bottom: 1.5px solid #111111;
    border-right: 1.5px solid #111111;
    height: 8px;
    right: 12px;
    width: 8px;
}

.shop__product__option p {
    color: #111111;
    margin-bottom: 0;
}

.shop__product__option__right {
    text-align: right;
}

.shop__product__option__right p {
    display: inline-block;
    margin-bottom: 0;
}

.option {
    cursor: pointer;
}